@page
@using Model.DataModel.Additional.Common
@model App.Pages.Products.CaseModel
@{
}
<!--This script is absolutely required in this place. Don't move it to the end of view!!!' -->
<script src="~/js/productView.js"></script>

<!--Display header of page-->
@await Component.InvokeAsync(
    "ProductHeader",
        new
        {
            product = Model.Name,
            producer = Model.Producer,
            category = "Obudowa komputerowa", 
            rate = Model.AverageRate, 
            reviewsAmount = Model.ReviewsAmount
        })

<div class="container">
    <div class="row">
        <div class="col">

            <!--Display images of pruduct-->
            @await Component.InvokeAsync(
                "ImagesArea", 
                new 
                { 
                    bonusProductImagesId = Model.BonusProductImagesId, 
                    productId=Model.ProductId 
                })
        
        </div>
        <div class="col">
            <div class="fs-1">
                @Model.Price zł
            </div>
            <div>
                <div class="mb-5">
                    @if ( true /*Model.Availability == Availability.Avabile */)
                    {
                        <form method="post">
                        <select class="fs-4">
                            <option value="1">1 szt</option>
                            <option value="2">2 szt</option>
                            <option value="3">3 szt</option>
                            <option value="4">4 szt</option>
                            <option value="5">5 szt</option>
                            <option value="6">6 szt</option>
                            <option value="7">7 szt</option>
                            <option value="8">8 szt</option>
                            <option value="9">9 szt</option>
                        </select>
                            <button class="narrowButton fs-4">
                            Dodaj do koszyka
                        </button>
                    </form>
                    }
                    else
                    {
                        <span class="productUnavailable">
                        Produkt niedostępny
                    </span>               
                    }
                </div>
                <table class="mt-5 shortProductTable">
                    <tr>
                        <td>
                            Producent
                        </td>
                        <td>
                            @Model.Producer
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kategoria
                        </td>
                        <td>
                            Obudowa komputera
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kolor
                        </td>
                        <td>
                            @Model.Color
                        </td>
                    </tr>
                    <tr>
                        <td >
                            Dodatkowe informacje
                        </td>
                        <td>
                            @Model.AdditionalInfo
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Format płyty głównej
                        </td>
                        <td>
                            @Model.MotherBoardFormats
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Formaty zasilacza
                        </td>
                        <td>
                            @Model.PowerSupplyFormat
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Typ zasilacza
                        </td>
                        <td>
                            @Model.CaseType.ToString();
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        </div>
    <div class="row mt-5 mb-5">
        <div class="col">
                <h2 class=" mb-2">Opis Produktu</h2>
                <div>
                    @Model.Description
                </div>
            </div>
        </div>
    <div row mt-5>
        <h2 class="mb-2">Pełna specyfikacja</h2>
        <table class="fullProductTable">
            <tr>
                <td>
                    Producent
                </td>
                <td>
                    <div style="margin-left: 45%">@Model.Producer</div>
                </td>
            </tr>
            <tr>
                <td>
                    Kolor
                </td>
                <td>
                    <div style="margin-left: 45%">@Model.Color</div>
                </td>
            </tr>
            <tr>
                <td>
                    Dodatkowe informacje
                </td>
                <td>
                    <div style="margin-left: 45%">@Model.AdditionalInfo</div>
                </td>
            </tr>
            <tr>
                <td>
                    Format płyty głównej
                </td>
                <td>
                    <div style="margin-left: 45%">@Model.MotherBoardFormats</div>
                </td>
            </tr>
            <tr>
                <td>
                    Formaty zasilacza
                </td>
                <td>
                    <div style="margin-left: 45%">@Model.PowerSupplyFormat</div>
                </td>
            </tr>
            <tr>
                <td>
                    Typ zasilacza
                </td>
                <td>
                    <div style="margin-left: 45%">@Model.CaseType.ToString()</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row mt-5 mb-3">
        <div class="col">
            <h2>Opinie (@Model.ReviewsAmount)</h2>

        </div>
    </div>
    @if (Model.ReviewsAmount == 0)
    {
        <div class="row">
            <div class="col">
                <div class="fs-5" style="color: gray; text-align: center">
                    Nikt nie dodał jeszcze żadnych opinii do tego produktu. Możesz być pierwszy
                </div>
            </div>
        </div>
    }
    else
    {
        @await Component.InvokeAsync("ReviewsArea", new { reviewDTOs = Model.ReviewDTOs, productId = Model.ProductId, pageNumber= Model.PageNumber})
    }
    <div class="row">
        <div class="col">
            <div>
                @if (HttpContext.Session.GetInt32("isLogged") == 1)
                {
                    <form asp-page-handler="AddReview" method="post">
                        <input type="hidden" value="@Model.ProductId" name="productId" />
                        <input type="hidden" value="@Model.PageNumber" name="pageNumber" />
                        <input type="hidden" name="rate" id="rateInAddReviewForm-AddReview" value="2"/>
                        <div style="float: left; width: 100%;" class="mb-0">
                            <div style="display: inline-block; float: left"><i class="demo-icon icon-user-circle-o" style="font-size:80px;"></i></div>

                            <div style="display: inline-block; width: calc(100% - 130px); float: left;" class="mt-4">
                                <textarea style="resize: none; height: 80px; width: 100%;" placeholder="Twoja opinia o produkcie" name="reviewContent"></textarea>
                            </div>

                        </div>
                        <div class="fs-3" style="margin-top: -8px; display: inline-block; float: left;  margin-left: 110px; color: darkgoldenrod;">
                            <i style="cursor: pointer" class="demo-icon icon-star" id="firstStarInAddReviewForm-AddReview"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="secondStarInAddReviewForm-AddReview"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="thirdStarInAddReviewForm-AddReview"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="fourthStarInAddReviewForm-AddReview"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="fifthStarInAddReviewForm-AddReview"></i>
                        </div>
                        <div style="display: inline-block; float: left;"><input type="submit" class="narrowButton" value="Dodaj opinie"></div>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="text-align: center">
                @if (Model.ReviewsPageAmount<=9)
                {
                    @if (Model.ReviewsPageAmount >= 2)
                    {
                        
                        if (Model.PageNumber == 1)
                        {
                            <a class="link-dark fs-5" style="font-weight: bold">1</a>                        
                        }
                        else 
                        {
                            <a asp-page="@HttpContext.Request.Path" asp-route-pageNumber="1" asp-route-productId="@Model.ProductId" class="link-dark fs-5">1</a>
                        }
                        <span>&nbsp;</span>
                     
                    }
                    for (int i = 2; i <= Model.ReviewsPageAmount; i++)
                    {
                        if (Model.PageNumber == i)
                        {
                            <a class="link-dark fs-5" style="font-weight: bold">@i</a>                 
                        }
                        else
                        {
                            <a asp-page="@HttpContext.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                        }
                        <span>&nbsp;</span>
                    }
                }
                else
                {
                    if (Model.PageNumber <= 5)
                    {
                        for (int i = 1; i <= 6; i++)
                        {
                            if (Model.PageNumber == i)
                            {
                                <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                            }
                            else
                            {
                                <a asp-page="@HttpContext.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                            }                           
                            <span>&nbsp;</span>
                        }
                        <span>...</span>
                        <span>&nbsp;</span>
                        for (int i = Model.ReviewsPageAmount - 2; i <= Model.ReviewsPageAmount; i++)
                        {
                            if (Model.PageNumber == i)
                            {
                                <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                            }
                            else
                            {
                                <a asp-page="@HttpContext.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                            }
                            <span>&nbsp;</span>
                        }
                        
                    }
                    else if (Model.PageNumber >= 4 && Model.PageNumber<Model.ReviewsPageAmount-4)
                    {
                        for (int i = 1; i <= 3; i++)
                        {
                            if (Model.PageNumber == i)
                            {
                                <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                            }
                            else
                            {
                                <a asp-page="@HttpContext.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                            }
                            <span>&nbsp;</span>
                        }

                        <span>...</span>
                        <span>&nbsp;</span>

                        for (int i = Model.PageNumber - 1; i <= Model.PageNumber + 1; i++)
                        {
                            if (Model.PageNumber == i)
                            {
                                <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                            }
                            else
                            {
                                <a asp-page="@HttpContext.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                            }
                            <span>&nbsp;</span>
                        }

                        <span>...</span>
                        <span>&nbsp;</span>

                        for (int i = Model.ReviewsPageAmount-2; i <= Model.ReviewsPageAmount; i++)
                        {
                            if (Model.PageNumber == i)
                            {
                                <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                            }
                            else
                            {
                                <a asp-page="@HttpContext.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                            }
                            <span>&nbsp;</span>
                        }   
                    }
                    else if (Model.PageNumber > 5 && Model.PageNumber >= Model.ReviewsPageAmount - 4)
                    {
                        for (int i = 1; i <= 3; i++)
                        {
                            if (Model.PageNumber == i)
                            {
                                <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                            }
                            else
                            {
                                <a asp-page="@HttpContext.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                            }
                            <span>&nbsp;</span>
                        }
                        <span>...</span>
                        <span>&nbsp;</span>
                        for (int i = Model.ReviewsPageAmount - 5; i <= Model.ReviewsPageAmount; i++)
                        {
                            if (Model.PageNumber == i)
                            {
                                <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                            }
                            else
                            {
                                <a asp-page="@HttpContext.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                            }
                            <span>&nbsp;</span>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
