@model Domain.ViewModels.ReviewAreaVm
<div class="row mt-5 mb-3">
    <div class="col">
        <h2>Opinie (@Model.ReviewsAmount)</h2>

    </div>
</div>

@if (Model.ReviewsAmount == 0)
{
    <div class="row">
        <div class="col">
            <div class="fs-5" style="color: gray; text-align: center">
                Nikt nie dodał jeszcze żadnych opinii do tego produktu. Możesz być pierwszy
            </div>
        </div>
    </div>
}
else
{
    @foreach (var reviewData in Model.ReviewsData)
    {
        <div class="row mb-3">
            <div class="col">
                <div id="review-@reviewData.Id" style="width: 100%; border: 1px solid lightgray; border-radius: 20px; padding: 10px">
                    <div>
                        <span class="fs-3">
                            <i class="icon-user-circle-o"></i>
                        </span>
                        <span class="fs-4 fw-bold">
                            @reviewData.Username
                        </span>
                        <span style="color: gray" class="fst-italic">
                            @reviewData.ReleaseDate.ToShortDateString()
                        </span>
                    </div>
                    <div class="mb-2" style="color: darkgoldenrod">
                        @if (reviewData.Rate >= 2)
                        {
                            <i style="cursor: pointer" class="icon-star"></i>
                        }
                        else
                        {
                            <i style="cursor: pointer" class="icon-star-empty"></i>
                        }
                        @if (reviewData.Rate >= 4)
                        {
                            <i style="cursor: pointer" class="icon-star"></i>
                        }
                        else
                        {
                            <i style="cursor: pointer" class="icon-star-empty"></i>
                        }
                        @if (reviewData.Rate >= 6)
                        {
                            <i style="cursor: pointer" class="icon-star"></i>
                        }
                        else
                        {
                            <i style="cursor: pointer" class="icon-star-empty"></i>
                        }
                        @if (reviewData.Rate >= 8)
                        {
                            <i style="cursor: pointer" class="icon-star"></i>
                        }
                        else
                        {
                            <i style="cursor: pointer" class="icon-star-empty"></i>
                        }
                        @if (reviewData.Rate >= 10)
                        {
                            <i style="cursor: pointer" class="icon-star"></i>
                        }
                        else
                        {
                            <i style="cursor: pointer" class="icon-star-empty"></i>
                        }

                    </div>
                    <div class="fs-6 mb-2">
                        @reviewData.Content
                    </div>
                    <div>
                        @if (Context.Session.GetInt32("isLogged") == 1)
                        {
                            @if (Context.Session.GetInt32("LoggedUserId") == reviewData.UserId)
                            {
                                <span>
                                    <a role="button" class="fs-6 link-secondary" onclick="document.getElementById('dialog-For-Review-@reviewData.Id').showModal()">Usuń</a>
                                </span>
                                <span>&nbsp;</span>
                            }
                        }
                        @if (Context.Session.GetInt32("isLogged") == 1)
                        {
                            @if (Context.Session.GetInt32("LoggedUserId") == reviewData.UserId)
                            {
                                <span>
                                    <a role="button" class="fs-6 link-secondary" onclick="hideFirstShowSecond('review-@reviewData.Id','edit-reviev-form-@reviewData.Id')">Edytuj</a>
                                </span>
                                <span>&nbsp;</span>
                            }
                        }
                    </div>
                    <dialog id="dialog-For-Review-@reviewData.Id">
                        Czy napewno chcesz usunąć opinię?<br />
                        <div style="text-align: center">
                            <span>&nbsp;</span>
                            <form method="post">
                                <button asp-page-handler="ReviewDelete" asp-route-pageNumber="@Model.PageNumber" asp-route-productId="@Model.ProductId" asp-route-reviewId="@reviewData.Id" class="narrowButton">Tak</button>
                                <button type="button" class="narrowButton" onclick="document.getElementById('dialog-For-Review-@reviewData.Id').close()">Nie</button>
                            </form>
                        </div>
                    </dialog>
                </div>
                <form asp-page-handler="EditReview" method="post" id="edit-reviev-form-@reviewData.Id" hidden>
                    <input type="hidden" value="@Model.ProductId" name="productId" />
                    <input type="hidden" value="@reviewData.Id" name="reviewId" />
                    <input type="hidden" value="@Model.PageNumber" name="pageNumber" />
                    <input type="hidden" name="rate" id="rateInAddReviewForm-edit-reviev-form-@reviewData.Id" value="@reviewData.Rate" />
                    <div style="float: left; width: 100%;" class="mb-0">


                        <div style="display: inline-block; float: left; width: 100%;" class="mt-4">
                            <textarea id="review-textare-@reviewData.Id" style="resize: none; height: 80px; width: 100%;" placeholder="Twoja opinia o produkcie" name="reviewContent">@reviewData.Content</textarea>
                        </div>

                    </div>
                    <div class="fs-3" style="margin-top: -8px; display: inline-block; float: left; color: darkgoldenrod;">
                        <i style="cursor: pointer" class="demo-icon icon-star" id="firstStarInAddReviewForm-edit-reviev-form-@reviewData.Id"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="secondStarInAddReviewForm-edit-reviev-form-@reviewData.Id"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="thirdStarInAddReviewForm-edit-reviev-form-@reviewData.Id"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="fourthStarInAddReviewForm-edit-reviev-form-@reviewData.Id"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="fifthStarInAddReviewForm-edit-reviev-form-@reviewData.Id"></i>
                    </div>
                    <div style="display: inline-block; float: left;">
                        <input type="submit" class="narrowButton" value="Edytuj opinie">
                        <span>&nbsp;</span>
                        <button type="button" class="narrowButton" onclick="hideFirstShowSecond('edit-reviev-form-@reviewData.Id','review-@reviewData.Id')">Anuluj edycję</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            initializeStarRating("edit-reviev-form-@reviewData.Id", @reviewData.Rate);
        </script>
    }
}
<div class="row">
    <div class="col">
        <div>
            @if (Context.Session.GetInt32("isLogged") == 1)
            {
                <form asp-page-handler="AddReview" method="post">
                    <input type="hidden" value="@Model.ProductId" name="productId" />
                    <input type="hidden" value="@Model.PageNumber" name="pageNumber" />
                    <input type="hidden" name="rate" id="rateInAddReviewForm-AddReview" value="2" />
                    <div style="float: left; width: 100%;" class="mb-0">
                        <div style="display: inline-block; float: left"><i class="demo-icon icon-user-circle-o" style="font-size:80px;"></i></div>

                        <div style="display: inline-block; width: calc(100% - 130px); float: left;" class="mt-4">
                            <textarea style="resize: none; height: 80px; width: 100%;" placeholder="Twoja opinia o produkcie" name="reviewContent"></textarea>
                        </div>

                    </div>
                    <div class="fs-3" style="margin-top: -8px; display: inline-block; float: left;  margin-left: 110px; color: darkgoldenrod;">
                        <i style="cursor: pointer" class="demo-icon icon-star" id="firstStarInAddReviewForm-AddReview"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="secondStarInAddReviewForm-AddReview"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="thirdStarInAddReviewForm-AddReview"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="fourthStarInAddReviewForm-AddReview"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="fifthStarInAddReviewForm-AddReview"></i>
                    </div>
                    <div style="display: inline-block; float: left;"><input type="submit" class="narrowButton" value="Dodaj opinie"></div>
                </form>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div style="text-align: center">
            @if (Model.ReviewsPageAmount <= 9)
            {


                if (Model.PageNumber == 1 && Model.ReviewsAmount != 0)
                {
                    <a class="link-dark fs-5" style="font-weight: bold">1</a>
                }
                else
                {
                    <a asp-page="@Context.Request.Path" asp-route-pageNumber="1" asp-route-productId="@Model.ProductId" class="link-dark fs-5">1</a>
                }
                <span>&nbsp;</span>


                for (int i = 2; i <= Model.ReviewsPageAmount; i++)
                {
                    if (Model.PageNumber == i)
                    {
                        <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                    }
                    else
                    {
                        <a asp-page="@Context.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                    }
                    <span>&nbsp;</span>
                }
            }
            else
            {
                if (Model.PageNumber <= 5)
                {
                    for (int i = 1; i <= 6; i++)
                    {
                        if (Model.PageNumber == i)
                        {
                            <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                        }
                        else
                        {
                            <a asp-page="@Context.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                        }
                        <span>&nbsp;</span>
                    }
                    <span>...</span>
                    <span>&nbsp;</span>
                    for (int i = Model.ReviewsPageAmount - 2; i <= Model.ReviewsPageAmount; i++)
                    {
                        if (Model.PageNumber == i)
                        {
                            <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                        }
                        else
                        {
                            <a asp-page="@Context.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                        }
                        <span>&nbsp;</span>
                    }

                }
                else if (Model.PageNumber >= 4 && Model.PageNumber < Model.ReviewsPageAmount - 4)
                {
                    for (int i = 1; i <= 3; i++)
                    {
                        if (Model.PageNumber == i)
                        {
                            <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                        }
                        else
                        {
                            <a asp-page="@Context.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                        }
                        <span>&nbsp;</span>
                    }

                    <span>...</span>
                    <span>&nbsp;</span>

                    for (int i = Model.PageNumber - 1; i <= Model.PageNumber + 1; i++)
                    {
                        if (Model.PageNumber == i)
                        {
                            <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                        }
                        else
                        {
                            <a asp-page="@Context.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                        }
                        <span>&nbsp;</span>
                    }

                    <span>...</span>
                    <span>&nbsp;</span>

                    for (int i = Model.ReviewsPageAmount - 2; i <= Model.ReviewsPageAmount; i++)
                    {
                        if (Model.PageNumber == i)
                        {
                            <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                        }
                        else
                        {
                            <a asp-page="@Context.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                        }
                        <span>&nbsp;</span>
                    }
                }
                else if (Model.PageNumber > 5 && Model.PageNumber >= Model.ReviewsPageAmount - 4)
                {
                    for (int i = 1; i <= 3; i++)
                    {
                        if (Model.PageNumber == i)
                        {
                            <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                        }
                        else
                        {
                            <a asp-page="@Context.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                        }
                        <span>&nbsp;</span>
                    }
                    <span>...</span>
                    <span>&nbsp;</span>
                    for (int i = Model.ReviewsPageAmount - 5; i <= Model.ReviewsPageAmount; i++)
                    {
                        if (Model.PageNumber == i)
                        {
                            <a class="link-dark fs-5" style="font-weight: bold">@i</a>
                        }
                        else
                        {
                            <a asp-page="@Context.Request.Path" asp-route-pageNumber="@i" asp-route-productId="@Model.ProductId" class="link-dark fs-5">@i</a>
                        }
                        <span>&nbsp;</span>
                    }
                }
            }
        </div>
    </div>
</div>