@model ICollection<Domain.DTO.ReviewDTO>

@foreach (var reviewDTO in Model)
{
    <div class="row mb-3">
        <div class="col">
            <div id="review-@reviewDTO.Id" style="width: 100%; border: 1px solid lightgray; border-radius: 20px; padding: 10px">
                <div>
                    <span class="fs-3">
                        <i class="icon-user-circle-o"></i>
                    </span>
                    <span class="fs-4 fw-bold">
                        @reviewDTO.Username
                    </span>
                    <span style="color: gray" class="fst-italic">
                        @reviewDTO.ReleaseDate.ToShortDateString()
                    </span>
                </div>
                <div class="mb-2" style="color: darkgoldenrod">
                    @if (reviewDTO.Rate >= 2)
                    {
                        <i style="cursor: pointer" class="icon-star"></i>
                    }
                    else
                    {
                        <i style="cursor: pointer" class="icon-star-empty"></i>
                    }
                    @if (reviewDTO.Rate >= 4)
                    {
                        <i style="cursor: pointer" class="icon-star"></i>
                    }
                    else
                    {
                        <i style="cursor: pointer" class="icon-star-empty"></i>
                    }
                    @if (reviewDTO.Rate >= 6)
                    {
                        <i style="cursor: pointer" class="icon-star"></i>
                    }
                    else
                    {
                        <i style="cursor: pointer" class="icon-star-empty"></i>
                    }
                    @if (reviewDTO.Rate >= 8)
                    {
                        <i style="cursor: pointer" class="icon-star"></i>
                    }
                    else
                    {
                        <i style="cursor: pointer" class="icon-star-empty"></i>
                    }
                    @if (reviewDTO.Rate >= 10)
                    {
                        <i style="cursor: pointer" class="icon-star"></i>
                    }
                    else
                    {
                        <i style="cursor: pointer" class="icon-star-empty"></i>
                    }

                </div>
                <div class="fs-6 mb-2">
                    @reviewDTO.Content
                </div>
                <div>
                    @if (Context.Session.GetInt32("isLogged") == 1)
                    {
                        @if (Context.Session.GetInt32("LoggedUserId") == reviewDTO.UserId)
                        {
                            <span>
                                <a role="button" class="fs-6 link-secondary" onclick="document.getElementById('dialog-For-Review-@reviewDTO.Id').showModal()">Usuń</a>
                            </span>
                            <span>&nbsp;</span>
                        }
                    }
                    @if (Context.Session.GetInt32("isLogged") == 1)
                    {
                        @if (Context.Session.GetInt32("LoggedUserId") == reviewDTO.UserId)
                        {
                            <span>
                                <a role="button" class="fs-6 link-secondary" onclick="hideFirstShowSecond('review-@reviewDTO.Id','edit-reviev-form-@reviewDTO.Id')">Edytuj</a>
                            </span>
                            <span>&nbsp;</span>
                        }
                    }
                    @if (Context.Session.GetInt32("isLogged") == 1)
                    {
                        <span>
                            <a class="fs-6 link-secondary">Odpowiedz</a>
                        </span>
                    }
                </div>
                <dialog id="dialog-For-Review-@reviewDTO.Id">
                    Czy napewno chcesz usunąć opinię?<br />
                    <div style="text-align: center">
                        <span>&nbsp;</span>
                        <form method="post">
                            <button asp-page-handler="ReviewDelete" asp-route-pageNumber="@ViewData[" PageNumber"]" asp-route-productId="@ViewData["ProductId"]" asp-route-reviewId="@reviewDTO.Id" class="narrowButton">Tak</button>
                            <button type="button" class="narrowButton" onclick="document.getElementById('dialog-For-Review-@reviewDTO.Id').close()">Nie</button>
                        </form>
                    </div>
                </dialog>
            </div>
            <form asp-page-handler="EditReview" method="post" id="edit-reviev-form-@reviewDTO.Id" hidden>
                <input type="hidden" value="@ViewData["ProductId"]" name="productId" />
                <input type="hidden" value="@reviewDTO.Id" name="reviewId" />
                <input type="hidden" value="@ViewData["PageNumber"]" name="pageNumber" />
                <input type="hidden" name="rate" id="rateInAddReviewForm-edit-reviev-form-@reviewDTO.Id" value="@reviewDTO.Rate" />
                <div style="float: left; width: 100%;" class="mb-0">


                    <div style="display: inline-block; float: left; width: 100%;" class="mt-4">
                        <textarea id="review-textare-@reviewDTO.Id" style="resize: none; height: 80px; width: 100%;" placeholder="Twoja opinia o produkcie" name="reviewContent">@reviewDTO.Content</textarea>
                    </div>

                </div>
                <div class="fs-3" style="margin-top: -8px; display: inline-block; float: left; color: darkgoldenrod;">
                    <i style="cursor: pointer" class="demo-icon icon-star" id="firstStarInAddReviewForm-edit-reviev-form-@reviewDTO.Id"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="secondStarInAddReviewForm-edit-reviev-form-@reviewDTO.Id"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="thirdStarInAddReviewForm-edit-reviev-form-@reviewDTO.Id"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="fourthStarInAddReviewForm-edit-reviev-form-@reviewDTO.Id"></i><i style="cursor: pointer" class="demo-icon icon-star-empty" id="fifthStarInAddReviewForm-edit-reviev-form-@reviewDTO.Id"></i>
                </div>
                <div style="display: inline-block; float: left;">
                    <input type="submit" class="narrowButton" value="Edytuj opinie">
                    <span>&nbsp;</span>
                    <button type="button" class="narrowButton" onclick="hideFirstShowSecond('edit-reviev-form-@reviewDTO.Id','review-@reviewDTO.Id')">Anuluj edycję</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        initializeStarRating("edit-reviev-form-@reviewDTO.Id", @reviewDTO.Rate);
    </script>
}