@using Domain.EntityModels.Additional.Common
@using Domain.ViewModels
@using Domain.EntityModels.Main
@model ProductHeaderVm
@{
    string editLink = "/AdminPanel/";
    switch (Model.ProductType)
    {
        case ProductType.Case: editLink += "AddOrEditCase"; break;
        case ProductType.DesktopComputer: editLink += "AddOrEditDesktopComputer"; break;
        case ProductType.DiskDrive: editLink += "AddOrEditDiskDrive"; break;
        case ProductType.GraphicCard: editLink += "AddOrEditGraphicCard"; break;
        case ProductType.Laptop: editLink += "AddOrEditLaptop"; break;
        case ProductType.Motherboard: editLink += "AddOrEditMotherboard"; break;
        case ProductType.PowerSupply: editLink += "AddOrEditPowerSupply"; break;
        case ProductType.Processor: editLink += "AddOrEditProcessor"; break;
        case ProductType.Ram: editLink += "AddOrEditRam"; break;
        case ProductType.Smartphone: editLink += "AddOrEditSmartphone"; break;
        case ProductType.Televisor: editLink += "AddOrEditTelevisor"; break;
        case ProductType.Monitor: editLink += "AddOrEditMonitor"; break;
        case ProductType.Mouse: editLink += "AddOrEditMouse"; break;
        case ProductType.Keyboard: editLink += "AddOrEditKeyboard"; break;
        case ProductType.Printer: editLink += "AddOrEditPrinter"; break;
    }
}
<div class="d-flex justify-content-center align-items-center mb-5">
    <div>
        <h2 class="mb-0 mx-0 fs-1">@Model.Product</h2>
        <div>
            <span class="text-muted">Ocena:</span>
            <span style="color: darkgoldenrod">
                @if (Model.Rate >= 2)
                {
                    <i style="cursor: pointer" class="icon-star"></i>
                }
                else if (Model.Rate == 1)
                {
                    <i style="cursor: pointer" class="icon-star-half-alt"></i>
                }
                else
                {
                    <i style="cursor: pointer" class="icon-star-empty"></i>
                }
                @if (Model.Rate >= 4)
                {
                    <i style="cursor: pointer" class="icon-star"></i>
                }
                else if (Model.Rate == 3)
                {
                    <i style="cursor: pointer" class="icon-star-half-alt"></i>
                }
                else
                {
                    <i style="cursor: pointer" class="icon-star-empty"></i>
                }
                @if (Model.Rate >= 6)
                {
                    <i style="cursor: pointer" class="icon-star"></i>
                }
                else if (Model.Rate == 5)
                {
                    <i style="cursor: pointer" class="icon-star-half-alt"></i>
                }
                else
                {
                    <i style="cursor: pointer" class="icon-star-empty"></i>
                }
                @if (Model.Rate >= 8)
                {
                    <i style="cursor: pointer" class="icon-star"></i>
                }
                else if (Model.Rate == 7)
                {
                    <i style="cursor: pointer" class="icon-star-half-alt"></i>
                }
                else
                {
                    <i style="cursor: pointer" class="icon-star-empty"></i>
                }
                @if (Model.Rate == 10)
                {
                    <i style="cursor: pointer" class="icon-star"></i>
                }
                else if (Model.Rate == 9)
                {
                    <i style="cursor: pointer" class="icon-star-half-alt"></i>
                }
                else
                {
                    <i style="cursor: pointer" class="icon-star-empty"></i>
                }
            </span>

            <span class="text-muted">(@Model.ReviewsAmount)</span>
            <br/>
        </div>
        <div class="text-muted">
            Kategoria: 
            @switch (Model.ProductType)
            {
                case ProductType.Case:
                    <span>Obudowy komputera</span>
                    break;
                case ProductType.DesktopComputer:
                    <span>Komputery stacjonarne</span>
                    break;
                case ProductType.DiskDrive:
                    <span>Dyski</span>
                    break;
                case ProductType.GraphicCard:
                    <span>Karty graficzne</span>
                    break;
                case ProductType.Laptop:
                    <span>Laptopy</span>
                    break;
                case ProductType.Motherboard:
                    <span>Płyty główne</span>
                    break;
                case ProductType.PowerSupply:
                    <span>Zasilacze</span>
                    break;
                case ProductType.Processor:
                    <span>Procesory</span>
                    break;
                case ProductType.Ram:
                    <span>Pamięci RAM</span>
                    break;
                case ProductType.Smartphone:
                    <span>Smartfony</span>
                    break;
                case ProductType.Televisor:
                    <span>Pamięci RAM</span>
                    break;
                case ProductType.Monitor:
                    <span>Monitory</span>
                    break;
                case ProductType.Mouse:
                    <span>Myszki</span>
                    break;
                case ProductType.Keyboard:
                    <span>Klawiatury</span>
                    break;
                case ProductType.Printer:
                    <span>Drukarki</span>
                    break;
            }
        </div>
        <div class="text-muted">
            Producent: 
            @Model.Producer
        </div>
        <div>
            @if (Context.Session.GetInt32("isUserAdmin") == 1)
            {
                <form method="get" action="@editLink">
                    <input type="hidden" value="Edit" name="handler" />
                    <input type="hidden" value="@Model.ProductId" name="id" />
                    <button type="submit" class="narrowButton">Edytuj</button>
                </form>

            }
        </div>
    </div>

</div>